.node {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 2px;
}
.link {
  stroke: #777;
}
.child-link {
  stroke: #99FF66;
}
.spouse-link {
  stroke: #FF0000;
}

circle {
  stroke: #777;
}

circle.female {
  fill: url(#female-image);
}

circle.female.highlight {
  fill: url(#highlight-female-image);
}

circle.male.highlight {
  fill: url(#highlight-male-image);
}

circle.male {
  fill: url(#male-image);
}

circle.highlight {
  stroke: #DF013A;
  stroke-width: 2px;
}
